body{
  text-align: center;
  background-color:#ffcb8e;
  background-image: url("https://www.transparenttextures.com/patterns/arabesque.png");
  min-height: 100vh;
  display: flex;
  justify-content: center;
  color:#322f3d;
}

.btn {
  margin:5px;
	background-color:#fadcac;
	border-radius:17px;
	border:1px solid #000000;
	display:inline-block;
	cursor:pointer;
	color:#000000;
	font-family:Trebuchet MS;
	font-size:22px;
	padding:16px 21px;
  position: relative;
  outline:none;

}
.btn:hover {
	background-color:#fadcac;
  box-shadow: 0 0.4rem 1.4rem 0 rgba(50, 47, 98, 0.6);
  transform: translateY(-0.1rem);
  transition: transform 150ms;
}
.btn:active {
	position:relative;
}

.quote{
  padding-top:50px;
  align-content: center;
  max-width: 850px;
  font-family: 'Pacifico', cursive;
  font-weight: lighter;
}
.name{
  text-align: right;
  font-family: 'Pacifico', cursive;
}

.logo{
  max-height: 150px;
  max-width: 250px;
  padding-top: 30px;
}

.footer{
  text-align: center;
  position: absolute;
  bottom: 0;
  background-color: #1abc9c;
  width: 100%;
  height: 60px;
}

.footer p{
  margin-top: 20px;
}
